/* ===== Primary Styles ========================================================
   Author: Rafael Schwemmer
   ========================================================================== */
body {
  background: #fefefe;
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  line-height:160%;
}


a {
  color: #18594B;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}

.content-container {
  margin: 0 auto;
  margin-left:250px;
  width: 80%;
}

.content-container .container-fluid {
  padding: 0;
}

/* home page */

.bottom-content-container {
  background-color: #d5dbd2;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 25px 0;
  width: 80%;
  margin: 0 auto;
  margin-left:250px;
}

.hero-unit {
  background-color: #000;
  background-image: linear-gradient(bottom, rgb(213,219,210) 5%, rgb(58,64,64) 53%);
  background-image: -o-linear-gradient(bottom, rgb(213,219,210) 5%, rgb(58,64,64) 53%);
  background-image: -moz-linear-gradient(bottom, rgb(213,219,210) 5%, rgb(58,64,64) 53%);
  background-image: -webkit-linear-gradient(bottom, rgb(213,219,210) 5%, rgb(58,64,64) 53%);
  background-image: -ms-linear-gradient(bottom, rgb(213,219,210) 5%, rgb(58,64,64) 53%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.05, rgb(213,219,210)),
  	color-stop(0.53, rgb(58,64,64))
  );
  border: 1px solid #ccc;
  color: #ffffff;
  margin: 10px 0 30px 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;  
}

.hero-unit h1 {
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 45px;
  margin-bottom: 10px;
  text-shadow: 0.03em 0.03em 0.1em #333;
}

.hero-unit h2 {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;  
  text-shadow: 0.03em 0.03em 0.1em #333;
}

.hero-unit blockquote {
  border-left: 3px solid #d8623b;
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px 0 25px 0;
}

.bottom-content-container hr {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #f9f9f9;
  margin: 20px 0;
}

.bottom-content-container h3 {
  margin-bottom: 10px;
}

.border-right-dotted {
  border-right: 1px dotted #999;
}

.footer_logo {
  margin-left:250px;
}

/* Navigation Sidebar */

.sidebar {
  background: #ebebeb;
  border-right: 1px solid #bdbdbd;
  left: 0;
  position: fixed;
  top: 0;
  height: 100%;
  width: 190px;
}

.nav {
  list-style-type: none;
  margin-left: 20px;
  margin-top: 0;
}

.nav li {
  background-color: #F0F0F0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$lightColor , endColorstr=$darkColor);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#DBDBDB));
  background-image: -moz-linear-gradient(top, #F0F0F0, #DBDBDB);
  background-image: -o-linear-gradient(top, #F0F0F0, #DBDBDB);
  background-image: linear-gradient(top, #F0F0F0, #DBDBDB);
  border-bottom: 1px solid #BDBDBD;
  border-top: 1px solid white;
  height: 42px;
  line-height: 42px;
  margin-left: -20px;
}

.nav li:last-child {
  -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.nav li a {
  color: #616161;
  display: block;
  margin-left: 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.nav li.active {
  border-top: 1px solid #1768B9;
  border-bottom: 1px solid #0C2D49;
  -webkit-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
  background-color: #18594B;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$lightColor , endColorstr=$darkColor);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5FAEDF), to(#4889B4));
  background-image: -moz-linear-gradient(top, #5FAEDF, #4889B4);
  background-image: -o-linear-gradient(top, #5FAEDF, #4889B4);
  background-image: linear-gradient(top, #5FAEDF, #4889B4);
  position: relative;
}

.nav li.active::after {
  content: "";
  display: block;
  width: 26px;
  height: 20px;
  -moz-transform: rotate(62deg) skew(30deg);
  -webkit-transform: rotate(62deg) skew(30deg);
  transform: rotate(62deg) skew(30deg);
  margin-top: -32px;
  margin-left: 177px;
  background: #18594B;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$lightBlue , endColorstr=$darkBlue);
  background: -webkit-gradient(linear, left top, right bottom, from(#5FAEDF), to(#4889B4));
  background: -moz-linear-gradient(-45deg, #5FAEDF, #4889B4);
  background: -o-linear-gradient(-45deg, #5FAEDF, #4889B4);
  background: linear-gradient(-45deg, #5FAEDF, #4889B4);
  border-top: 1px solid #1D6CAF;
  border-right: 1px solid #0C2D49;
  -webkit-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
}

.nav li.active a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.nav > li > a:hover {
    background-color:transparent;
}

/* End Navigation Sidebar */