#AuthType Basic
#AuthName "Summarium"
#AuthUserFile /path/to/.htpasswd
#Require user dmstech
Header set X-UA-Compatible "IE=edge"
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^(/index\.php|/images|/js|/pdf|/css|/robots\.txt|/favicon\.ico)
RewriteRule ^(.*)$ index.php?/$1 [L]
